node_modules/
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro / Bundler
.metro-health-check*

# Build artefacts
android/
ios/

# IDE
.vscode/
.idea/

# Environment
.env
.env.local
.env.*.local

# Misc
*.log
.DS_Store
